:root{
    --color1:#424242;
    --color2:#EEEEEE;
    --color3:#dcdcdc;
    --color4:#ececec;
}
#about{
    height: 30vh;
    background-color: #424242;
}
.containerAbout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerAbout   .links{
    display: flex;
    justify-content: center;
}
.h5,.h6{
    font-size: 2rem;
    color: var(--color3);
}
.Tiago{
    text-align: center;
    background-color: var(--color1);

}
.linkTiago{
    color: var(--color3);
}
.cv2{
    width: 15%;
    border: none;
    background-color:var(--color3);
    color: var(--color1);
    border-radius: 3%;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.cv2:hover{
    background-color: var(--color4);
    color: var(--color1); 
}