@media screen and (max-width:2500px) {
    #temaBotao{
    left: 2320px;
    top: 25px;
}
}
@media screen and (max-width:2372px) {
    #temaBotao{
    left: 2200px;
    top: 25px;
}
}
@media screen and (max-width:2249px) {
    #temaBotao{
    left: 2080px;
    top: 25px;
}
}
@media screen and (max-width:2132px) {
    #temaBotao{
    left: 1975px;
    top: 25px;
}
}
@media screen and (max-width:2028px) {
    #temaBotao{
    left: 1875px;
    top: 25px;
}
}
@media screen and (max-width:1929px) {
    #temaBotao{
    left: 1775px;
    top: 25px;
}
}

@media screen and (max-width:1850px) {
    #temaBotao{
    left: 1720px;
    top: 25px;
}
    .img{   
    width: 35%;
}
    .icons img{
    width: 60px;
}
    .cv{
    width: 41%;
}
    .sobre{
    max-width: 72%;
}
}
@media screen and (max-width:1775px) {
    #temaBotao{
    left: 1640px;
    top: 25px;
}
    .h1{
    max-width:90%;

}
    .h2{
    max-width:90%;
}
    .img{   
    width: 32%;
}
    .icons img{
    width: 50px;
}
    .cv{
    width: 44%;
}
    .sobre{
    max-width: 72%;
}
}
@media screen and (max-width:1700px) {
    #temaBotao{
    left: 1580px;
    top: 25px;
}
    .img{   
    width: 36%;
}
    .icons img{
    width: 50px;
}
       .cv{
    width: 42%;
}
        .sobre{
     max-width: 72%;
}

}
@media screen and (max-width:1635px) {
    #temaBotao{
    left: 1520px;
    top: 25px;
}
    .cv{
    width: 42%;
}
    .img{   
    width: 37%;
}
        .sobre{
     max-width: 72%;
}

}
@media screen and (max-width:1572px) {
    #temaBotao{
    left: 1460px;
    top: 25px;
}
    .cv{
    width: 40%;
}
        .sobre{
    max-width: 72%;
}
}
@media screen and (max-width:1512px) {
    #temaBotao{
    left: 1400px;
    top: 25px;
}
    .cv{
    width: 39%;
}
    .img{   
    width: 39%;
}
        .sobre{
     max-width: 72%;
}
}
@media screen and (max-width:1451px) {
    #temaBotao{
    left: 1340px;
    top: 25px;
}
    .cv{
    width: 39%;
}
    .img{   
    width: 41%;
}
.links{
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    
}
.icons img{
    width: 47px; 
    
}
        .sobre{
     max-width: 72%;
}
}
@media screen and (max-width:1395px) {
    #temaBotao{
    left: 1300px;
    top: 25px;
}
    .cv{
    width: 37%;
}
    .img{   
    width: 42%;
}
    .links{
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    
}
    .icons img{
    width: 47px; 
}
    .sobre{
    font-size: clamp(0.5rem,1vw,2rem);
    line-height: 25px;
    letter-spacing: 3px;
    transition: 850ms ;
     max-width: 72%;
}

}
@media screen and (max-width:1351px) {
    #temaBotao{
    left: 1260px;
    top: 25px;
}
    .cv{
    width: 40%;
}
    .img{   
    width: 45%;
}
    .links{
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    
}
    .icons img{
    width: 47px; 
}
    .sobre{
    max-width: 82%;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
    line-height: 25px;
    letter-spacing: 2px;
    transition: 850ms;
    text-align: center;
}
    .contentTxt{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 4%;   
}
}
@media screen and (max-width:1272px) {
    #temaBotao{
    left: 1180px;
    top: 25px;
}
    .cv{
    width: 43%;
    
}
    .img{   
    width: 44%;
}
    .links{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    
}
    .icons img{
    width: 40px; 
}
  .sobre{
    max-width: 82%;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
    line-height: 25px;
    letter-spacing: 2px;
    transition: 850ms;
    text-align: center;
}

}   
@media screen and (max-width:1232px) {
   #temaBotao{
    left: 1140px;
    top: 25px;
}
    .cv{
    width: 50%;
    
}
    .img{   
    width: 47%;
}
    .links{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    
}
    .icons img{
    width: 40px; 
}
  .sobre{
    max-width: 82%;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
    line-height: 25px;
    letter-spacing: 2px;
    transition: 850ms;
    text-align: center;
}

}    

@media screen and (max-width:1232px) {
    #temaBotao{
    left: 1100px;
    top: 25px;
}
    .cv{
    width: 50%;
    
}
    .img{   
    width: 45%;
}
    .links{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    
}
    .icons img{
    width: 40px; 
}
  .sobre{
    max-width: 82%;
    font-size: clamp(0.5rem, 1vw, 2rem);
    line-height: 25px;
    letter-spacing: 2px;
    transition: 850ms;
    text-align: center;
}
}
@media screen and (max-width:1150px) {
    header h1{
    color: var(--color1);
    font-size: 1.5rem;
}
    ul li,a{
    font-size: 1.2rem;
    
}
    
    #temaBotao{
    left: 1070px;
    top: 25px;
     width: 45px;
    height: 45px;
}
    .cv{
    width: 50%;
    
}
    .img{   
    width: 45%;
}
    .links{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    
}
    .icons img{
    width: 40px; 
}
  .sobre{
    max-width: 85%;
    font-size: clamp(0.5rem, 1vw, 2rem);
    line-height: 25px;
    letter-spacing: 2px;
    transition: 850ms;
    text-align: center;
}     
}    
@media screen and (max-width:1116px) {
    header h1{
    color: var(--color1);
    font-size: 1.5rem;
}
    ul li,a{
    font-size: 1.2rem;
}
    
    #temaBotao{
    left: 1030px;
    top: 25px;
     width: 45px;
    height: 45px;
}
    .cv{
    width: 50%;
    
}
    .img{   
    width: 45%;
}
    .links{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    
}
    .icons img{
    width: 40px; 
}
  .sobre{
    max-width: 87%;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
    line-height: 20px;
    letter-spacing: 2px;
    transition: 850ms;
    text-align: center;
} 
}
@media screen and (max-width:1116px) {
  #temaBotao{
    left: 995px;
    top: 25px;
     width: 45px;
    height: 45px;
}
  .cv{
    width: 47%;
}
}
@media screen and (max-width:1040px) {    
    #temaBotao{
    left: 960px;
    top: 25px;
    width: 45px;
    height: 45px;
}
    .cv{
    width: 47%;
}
    .sobre{
    max-width: 87%;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
    line-height: 20px;
    letter-spacing: 2px;
    transition: 850ms;
    text-align: center;
} 
}
@media screen and (max-width:1006px) {
    #temaBotao{
    left: 930px;
    top: 25px;
    width: 45px;
    height: 45px;
}
    .cv{
    width: 47%;
}
    .sobre{
    max-width: 87%;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
    line-height: 20px;
    letter-spacing: 2px;
    transition: 850ms;
    text-align: center;
} 
}
@media screen and (max-width:1006px) {
    #temaBotao{
    left: 900px;
    top: 25px;
    width: 45px;
    height: 45px;
}
    .contentTxt{
    padding: 0 4%;
    }
    .cv{
    width: 47%;
    text-align: center;
}
    .sobre{
    max-width: 87%;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
    line-height: 20px;
    letter-spacing: 2px;
    transition: 850ms;
    text-align: center;
} 
    .img{   
    width: 45%;
}
    .links{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    
}
    .icons img{
    width: 40px; 
}
}    
@media screen and (max-width:946px) {
    #temaBotao{
    left: 880px;
    top: 25px;
    width: 45px;
    height: 45px;
}
      .sobre{
    max-width: 89%;
    font-size: clamp(0.8rem, 1vw, 2rem);
    line-height: 17px;
    letter-spacing: 2px;
    transition: 850ms;
    text-align: center;
} 
}
@media screen and (max-width:924px) {
 #temaBotao{
    left: 850px;
    top: 25px;
    width: 45px;
    height: 45px;
}
    .sobre{
    max-width: 89% ;
    font-size: clamp(0.8rem, 1vw, 2rem);
    line-height: 17px;
    letter-spacing: 2px;
    transition: 850ms;
    text-align: center;
} 
    .cv{
    width: 46%;
    text-align: center;
}
}
@media screen and (max-width:894px) {

     #temaBotao{
    left: 822px;
    top: 25px;
    width: 45px;
    height: 45px;
}
    .sobre{
    max-width: 89% ;
    font-size: clamp(0.9rem, 1vw, 2rem);
    line-height: 17px;
    letter-spacing: 2px;
    transition: 850ms;
    text-align: center;
} 
   .img{   
    width: 47%;
}
    .cv{
    width: 44%;
    text-align: center;
}
}
/* tablet */    
@media screen and (max-width:868px) {
    .contentTxt{
    margin-top: 3rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;   
}
    .container{
    margin-top: 6rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
    .links{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
    .icons img{
    width: 40px; 
}
    #temaBotao{
    left: 800px;
    top: 25px;
    width: 45px;
    height: 45px;
}
    .sobre{
    max-width: 85% ;
    font-size: clamp(0.9rem, 1vw, 2rem);
    line-height: 20px;
    letter-spacing: 3px;
    transition: 850ms;
    text-align: center;
} 
   .img{   
    width: 49%;
    margin: 0;
}
    .cv{
    width: 45%;
    text-align: center;
}
    #exp{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 7rem;
    padding-bottom: 10rem;
    background-color: var(--color2);
}
    .h1{
    font-size: clamp(1.5rem,4.9vw,8rem);
    color: var(--color1);
    transition: 850ms ;
    
}
.h2{
    font-size: clamp(1.5rem,3.2vw,5.5rem);
    color: var(--color1);
    font-style: italic;
    transition: 950ms ;
    .links{
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    
}
    .icons img {
    min-width: 50px;
    }
    .cv2 {
    border: none;
    background-color: var(--color5);
    color: var(--color3);
    border-radius: 3%;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
}
}
}
@media screen and (max-width:846px) {
    #temaBotao{
    left: 780px;
    top: 25px;
    width: 45px;
    height: 45px;

}   
} 
@media screen and (max-width:846px) {
  #temaBotao{
    left: 759px;
    top: 25px;
    width: 45px;
    height: 45px;

}  
}    
@media screen and (max-width:804px) {
  #temaBotao{
    left: 739px;
    top: 25px;
    width: 45px;
    height: 45px;

}  
}    
@media screen and (max-width:784px) {
  #temaBotao{
    left: 720px;
    top: 25px;
    width: 45px;
    height: 45px;

}  
}    
@media screen and (max-width:766px) {
  #temaBotao{
    left: 705px;
    top: 25px;
    width: 45px;
    height: 45px;

}  
}    
@media screen and (max-width:750px) {
  #temaBotao{
    left: 690px;
    top: 25px;
    width: 45px;
    height: 45px;

}  
}    
@media screen and (max-width:736px) {
  #temaBotao{
    left: 680px;
    top: 25px;
    width: 45px;
    height: 45px;

}  
}    
@media screen and (max-width:726px) {
  #temaBotao{
    left: 670px;
    top: 25px;
    width: 45px;
    height: 45px;

}  
}    
@media screen and (max-width:716px) {
  #temaBotao{
    left: 660px;
    top: 25px;
    width: 45px;
    height: 45px;

}  
}    
@media screen and (max-width:704px) {
  #temaBotao{
    left: 649px;
    top: 25px;
    width: 45px;
    height: 45px;

}  
}    
@media screen and (max-width:694px) {
    #temaBotao{
    left: 600px;
    top: 60px;
    width: 45px;
    height: 45px;

} 
    header{
    width: 100%;
    padding: 20px 8%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color3);
    position: fixed;
    filter: opacity(80%);
    box-shadow: 0px 5px 10px  rgba(0, 0, 0, 0.192) ;
}
    header h1{
        font-size: 1.8rem;
    }
}   
@media screen and (max-width:646px) {
        #temaBotao{
    left: 500px;
    top: 60px;
    width: 45px;
    height: 45px;

}   
    
}    
@media screen and (max-width:546px) {
    #temaBotao{
    left: 450px;
    top: 60px;
    width: 45px;
    height: 45px;
}   
      .img{   
    width: 50%;
}
       .h1{
    font-size: clamp(1.5rem,5.5vw,8rem);
    color: var(--color1);
    transition: 850ms ;
    
}
.h2{
    font-size: clamp(1.5rem,4vw,5.5rem);
    color: var(--color1);
    font-style: italic;
    transition: 950ms ;
    .links{
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    
}
    .cv2 {
    width: 35%;
    border: none;
    background-color: var(--color5);
    color: var(--color3);
    border-radius: 3%;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
    
}  
}  
@media screen and (max-width:496px) {
      #temaBotao{
    left: 420px;
    top: 60px;
    width: 45px;
    height: 45px;
} 
}    
@media screen and (max-width:468px) {
      #temaBotao{
    left: 400px;
    top: 60px;
    width: 45px;
    height: 45px;
} 
}    
@media screen and (max-width:446px) {
    #temaBotao{
    left: 385px;
    top: 60px;
    width: 45px;
    height: 45px;
} 
    .h1{
    font-size: clamp(1.5rem,8vw,8rem);
    color: var(--color1);
    transition: 850ms ;
    
}
.h2{
    font-size: clamp(1.5rem,5vw,5.5rem);
    color: var(--color1);
    font-style: italic;
    transition: 950ms ;
    .links{
    width: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;   
}
    .img{   
    width: 70%;
}
        .container {
        margin-top: 8rem;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
        .sobre {
        max-width: 100%;
        font-size: clamp(0.9rem, 1vw, 2rem);
        line-height: 20px;
        letter-spacing: 3px;
        transition: 850ms;
        text-align: center;
    }
    .containerExp{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.wrapper{
    height: 30rem;
    width: 25rem;
    background-color: var(--color5);
    border-radius: 2%;
    padding: 1rem;
}
.blockimg{
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.imgEvent{
    width: 100%;
    height: 100%;
    border-radius: 3%;
    
}
.txtEvent{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.h4{
    font-size: 1.3rem;
    color: var(--color3);
}
.txt{
    font-size: 1.2rem;
    color: var(--color3);
    font-weight: 600;
}
}    
}
@media screen and (max-width:430px) {
    #temaBotao{
    left: 350px;
    top: 60px;
    width: 45px;
    height: 45px;
}
    main{
        padding-top: 10rem;
    }
    .img {
        width: 70%;
    }
        #exp {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 10rem;
        padding-bottom: 10rem;
        background-color: var(--color2);
    }
    .wrapper{
    height: 40rem;
    width: 25rem;
    background-color: var(--color5);
    border-radius: 2%;
    padding: 1rem;
}
.blockimg{
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.imgEvent{
    width: 48%;
    height: 100%;
    border-radius: 3%;
    
}
.txtEvent{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.h4{
    font-size: 1.3rem;
    color: var(--color3);
}
.txt{
    font-size: 1.2rem;
    color: var(--color3);
    font-weight: 600;
}
    ul li, a {
        font-size: 1rem;
    }
      .cv2 {
    width: 35%;
    border: none;
    background-color: var(--color5);
    color: var(--color3);
    border-radius: 3%;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

} 
@media screen and (max-width:396px) {
    #temaBotao{
    left: 340px;
    top: 60px;
    width: 45px;
    height: 45px;
}
    .img {
        width: 80%;
    }
    
    
    .wrapper{
    height: 38rem;
    width: 23rem;
    background-color: var(--color5);
    border-radius: 2%;
    padding: 1rem;
}
.blockimg{
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.imgEvent{
    width: 48%;
    height: 100%;
    border-radius: 3%;
    
}
    .h4{
    font-size: 1.1rem;
    color: var(--color3);
}
.txt{
    font-size: 1rem;
    color: var(--color3);
    font-weight: 600;
}
    .sobre {
        max-width: 100%;
        font-size: clamp(0.7rem, 1vw, 2rem);
        line-height: 20px;
        letter-spacing: 3px;
        transition: 850ms;
        text-align: center;
    }
}    
@media screen and (max-width:386px) {
    #temaBotao{
    left: 332px;
    top: 60px;
    width: 45px;
    height: 45px;
}


    .wrapper{
    height: 38rem;
    width: 21rem;
    background-color: var(--color5);
    border-radius: 2%;
    padding: 1rem;
}
.blockimg{
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.imgEvent{
    width: 48%;
    height: 100%;
    border-radius: 3%;
    
}
.sobre {
    font-size: clamp(0.5rem, 0.9vw, 2rem);
    max-width: 100%;
    margin-top: 1rem;
    font-weight: 600;
    background-color: var(--color1);
    padding: 1rem;
    border-radius: 3%;
    color: var(--color2);
    line-height: 30px;
    letter-spacing: 2px;
    transition: 850ms;
}

}
@media screen and (max-width:377px) {
        #temaBotao {
        left: 325px;
        top: 10px;
        width: 35px;
        height: 35px;
}
        .sobre {
        font-size: clamp(0.7rem, 0.9vw, 2rem);
        max-width: 100%;
        margin-top: 1rem;
        font-weight: 600;
        padding: 0;
        background-color: var(--color1);
        border-radius: 3%;
        color: var(--color2);
        transition: 850ms;
    }
        .container {
        margin-top: 15rem;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:359px) {
        #temaBotao {
        left: 300px;
        top: 20px;
        width: 35px;
        height: 35px;
}
}    
@media screen and (max-width:341px) {
        #temaBotao {
        left: 290px;
        top: 20px;
        width: 35px;
        height: 35px;
}
        .wrapper {
        height: 39rem;
        width: 20rem;
        background-color: var(--color5);
        border-radius: 2%;
        padding: 1rem;
    }
        #exp {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 15rem;
        padding-bottom: 10rem;
        background-color: var(--color2);
    }
    .h5, .h6{
        font-size: 1.5rem;
    }
        .container {
        margin-top: 9rem;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .cv2 {
    width: 35%;
    border: none;
    background-color: var(--color5);
    color: var(--color3);
    border-radius: 3%;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

}   


