
@media screen and (max-width:3000px){ 
    .heroh1{
       font-size: 6rem;
    }
    .bg_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--color3);
    border-radius: 2%;
    padding: 3rem;
    width: 50%;
 
}
    .txt_about{
    font-size: 2.5rem;
    color: var(--color1);
    font-weight: 600;

}
  
}
@media screen and (max-width:1980px){ 
    .bg_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--color3);
    border-radius: 2%;
    padding: 2rem;
    width: 40%;
 
}
    .txt_about{
    font-size: 2rem;
    color: var(--color1);
    font-weight: 600;

}
    #exp{
    height: 80vh;
}
}


@media screen and (max-width:1480px){ 
    .heroh1{
       font-size: 4.5rem;
    }

     #txt_exp{
    color: var(--color1);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

    .txt_exp{
    width: 80%;
    font-size: 1.5rem;
    color: var(--color1);
}
    h4{
        font-size: 1.5rem;
    }
    .img_prob2{
    width: 280px;
    height: 380px;
}

}
@media screen and (max-width:1280px){ 
    .bg_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--color3);
    border-radius: 2%;
    padding: 2rem;
    width: 60%;
}
    #txt_exp{
    color: var(--color1);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

    .txt_exp{
    width: 80%;
    font-size: 1.2rem;
    color: var(--color1);
    font-weight: 600;
}
    h4{
        font-size: 1.2rem;
    }

}


@media screen and (max-width:1162px){
    .heroh1{
       font-size: 3.5rem;
    }
       .img_prob2{
    width: 200px;
    height: 350px;
}
    .bg_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--color3);
    border-radius: 2%;
    padding: 2rem;
    width: 70%;
}

    #txt_exp{
    color: var(--color1);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

    .txt_exp{
    width: 80%;
    font-size: 1.2rem;
    color: var(--color1);
    font-weight: 600;
}
    h4{
        font-size: 1.2rem;
    }
}
 @media screen and (max-width:1000px) {
    .heroh1{
       font-size: 3.5rem;
    }
    .imagem{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--color1);
}
      .txt_about{
    font-size: 1.6rem;
    color: var(--color1);
    font-weight: 600;

}
  
}



@media screen and (max-width:848px) {
    .heroh1{
    font-size: 3.3rem;
    width: 55%;
    }
        main{
    height: 90vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column-reverse;
    background-color: var(--color2); 
    padding: 0 0;       
}
    .img{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
    .imagem{
    width:120%;
    border-radius: 50%;
    border: 2px solid var(--color1);
}
    .container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;        
}
    .links{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    }
    .content_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2rem;
    margin: 0 auto;
}
.bg_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--color3);
    border-radius: 2%;
    padding: 2rem;
    width: 70%;
 
}
.txt_about{
    font-size: 1.2rem;
    color: var(--color1);
    font-weight: 600;

}
    .img_prob2{
    width: 150px;
    height: 250px;
}
    .txt_exp{
    width: 80%;
    font-size: 0.9rem;
    color: var(--color1);
    font-weight: 600;
}
    h4{
        font-size: 1.2rem;
    }
        #exp{
    height: 70vh;
}
       .txt_exp{
    width: 80%;
    font-size: 1rem;
    color: var(--color1);
    font-weight: 600;
}
    .txt_about{
    font-size: 1.4rem;
    color: var(--color1);
    font-weight: 600;

}
    }
    @media screen and (max-width:768px) {
    .imagem{
    width:120%;
    border-radius: 50%;
    border: 2px solid var(--color1);
}
    
    .icons{
    width: 45px;
}
    .heroh1{
       font-size: 2.5rem;
       width: 50%;
    }

    }
    @media screen and (max-width:712px) {
    .txt_exp{
    width: 80%;
    font-size: 0.7rem;
    color: var(--color1);
    font-weight: 600;
}
    h4{
        font-size: 1rem;
    }
      .img_prob2{
    width: 130px;
    height: 250px;
}
       #txt_exp{
    color: var(--color1);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

}
      @media screen and (max-width:611px) {
    .heroh1{
       font-size: 2.3rem;
       width: 55%;
       height: 0;
       background-color: red;
    }  
    .icons{
    width: 40px;
    }
    .imagem{
    width:130%;
    border-radius: 50%;
    border: 2px solid var(--color1);
}
       header{
    max-width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
    border-bottom: 1px solid #00000011; 
}

}

        
        @media screen and (max-width:512px) {
        .heroh1{
       font-size: 2rem;
       width: 55%;
       height: 0;
       background-color: red;
    } 
        .icons{
        width: 35px;
     }
        .txt_about{
    font-size: 1rem;
    color: var(--color1);
    font-weight: 600;

}
 
    .img_prob2{
    width: 110px;
    height: 200px;
}
    .txt_exp{
    width: 80%;
    font-size: 0.6rem;
    color: var(--color1);
    font-weight: 600;
}
    h4{
        font-size: 1rem;
    }
    #txt_exp{
    color: var(--color1);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

    }
            @media screen and (max-width:500px) {


            }