@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

root{
    --color1:#A6A6A6;
    --color2:#FFFF;
    --color3:#0000000000;
}

body{
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    height: 10%;
    width: 100%;
}
.h1_Text{
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.contentNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.list, a{
    text-decoration: none;
    display: inline-flex;
    color: white;
    font-size: 1.5rem;
    gap: 1rem;

    
}
.list, a:hover{
    font-size: 2rem;
    padding: 0 25px;
    transition: 350ms all;
    color: #A6A6A6;
}
main{
    background-color: #A6A6A6;
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.container{
    height: 70%;
    background-color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.conteudos{
    width: 80%;
    height: 80%;
    background-color: #A6A6A6;
    border-radius: 5%;
}
.texto1{
    font-size: 5rem;
    font-weight: 600;
    font-style: italic;
}
.texto2{
    font-size: 5rem;
    font-weight: 600;
    font-style: italic;
}
.texto3{
    font-size: 5rem;
    font-weight: 600;
    font-style: italic;
   
}
.container2{
    background-color: black;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.img{
   width: 500px;
   height: 500px;
   border-radius: 50%;
   background-image: url(img/Antonio.png.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   border: 1px solid #A6A6A6;
}


