@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color1:#424242;
    --color2:#EEEEEE;
    --color3:#dcdcdc;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    background-color: var(--color2);  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    max-width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dcdcdc;
    border-bottom: 1px solid #00000011; 
}

header h1{
    color: #424242;
}
.navBar ul{
    display: flex;
    gap: 2rem;
}
.navBar a{
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 600;  
}

a:hover{
    color: rgba(0, 0, 0, 0.541);
}
main{
    height: 100vh;
    padding: 30px 8%;
    display: flex;
    background-color: var(--color2);  
}
.container{
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
}
.heroh1{
    font-size: 6rem;
    color: var(--color1);
}

.img{
    height: 80%;
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.links{
    width: 28%;
    display: flex;
    gap: 2rem;
}
.imagem{
    width:100%;
    border-radius: 50%;
    border: 2px solid var(--color1);
}
.icons{
    width: 60px;
}

a{
    text-decoration: none;
     
}
#sobre{
    width: 100%;
    height: 70vh;
}
h3{
    font-size: 2rem;
    color: var(--color1);
}

.content_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2rem;
    margin: 0 auto;
}
.bg_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--color3);
    border-radius: 2%;
    padding: 2rem;
    width: 50%;
 
}
.txt_about{
    font-size: 1.5rem;
    color: var(--color1);
    font-weight: 600;

}
.content_plus{
    width: 100%;
}
#exp{
    height: 40vh;
}
#txt_exp{
    color: var(--color1);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
.img_prob2{
    width: 350px;
    height: 500px;
}
.container_exp{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content_exp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 0 5%;
    
    
}
.content_exp_reverse{
     width: 100%;
    margin-bottom: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 5%;
    flex-direction: row-reverse;
    
}

.content_text{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
   
}
h4{
    font-size: 2rem;
    color:var(--color1) ;
}
.txt_exp{
    width: 80%;
    font-size: 2rem;
    color: var(--color1);
}
footer a{
    color: black;
    text-align: center;
    width: 100%;
}
footer {
    color: black;
    text-align: center;
    width: 100%;
}











