@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color1:#424242;
    --color2:#EEEEEE;
}

body{
    font-family: "Montserrat", sans-serif;
    height: 100vh;
    background-color: var(--color2);
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: var(--color2);
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gainsboro;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
    
}

header h1{
    color: #424242;
}
.navBar ul{
    display: flex;
    gap: 2rem;
}
.navBar a{
    text-decoration: none;
    color: #424242;
    font-size: 1.2rem;
    font-weight: 600;
    
}
a:hover{
    color: rgba(0, 0, 0, 0.541);
}
main{
    height: 100vh;
    padding: 30px 8%;
    display: flex;
    background-color: var(--color2);
    
}
.container{
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.heroh1{
    font-size: 5rem;
    max-width: 90%;
    color: var(--color1);
    
    
}
h2{
    font-size: 4.5rem;
    color: var(--color1);
     
     max-width: 90%;
}
.img{
    height: 80%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    width: 28%;
    display: flex;
    gap: 1rem;
    
    
    
}
img{
    width:100%;
    border-radius: 50%;
}

.icons{
    width: 50px;
}

a{
    text-decoration: none;
     
}
.ball{
   
}











